*
{
    margin-top:0px;
    padding-top:0px;
}

html{
    background-color: rgb(151, 12, 12)
}

body{
    background-color: white;
    width: 1200px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    border-top: solid black;
    border-bottom: solid black;
    border-top-width: 20px;
    border-bottom-width: 20px;
}

main {
    background-color:rgb(231, 231, 231);
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    position:relative;
    overflow: hidden;
}

table {
    background-color: gray;
}

p{
    font-size:large; 
}

h3{
    color: rgb(151, 12, 12);
}

th{
    width: 150px;
    text-align: left;
    background-color:rgb(231, 231, 231);
    padding: 6px;
}

button{
    margin-top: 30px;
    margin-bottom: 5px;
    height: 40px;
    font-size: medium;
    background-color:rgb(151, 12, 12);
    border: 0px;
    border-radius:5px;
    color: white;
}


