*
{
    margin-top:0px;
    padding-top:0px;
}

html{
    background-color: rgb(151, 12, 12)
}

body{
    background-color: white;
    width:1400px;
    height:800px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    border-top: solid black;
    border-bottom: solid black;
    border-top-width: 20px;
    border-bottom-width: 20px;
}

main {
    background-color:rgb(231, 231, 231);
    padding-left: 10px;
    padding-right: 10px;
    align-self: 
}

table {
    background: lightgray;
    border: solid grey 2px;
}

p{
    font-size:large; 
}

th{
    width: 150px;
    text-align: left;
    background-color:rgb(231, 231, 231);
    padding: 6px;
}

